/10_bankers_algorithm.c
/11_first_fit.c
/12_best_fit.c
/13_worst_fit.c
/14_disk_fcfs.c
/15_disk_scan.c
/16_disk_cscan.c
/1_fcfs.c
/3_priority.c
/4_round_robin.c
/5_producer_consumer.c
/6_dining_philosophers.c
/7_fifo_page_replacement.c
/8_lru_page_replacement.c
/9_optimal_page_replacement.c